.sobre {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
}

.sobre h1 {
  color: #004aad;
  margin-bottom: 20px;
}

.sobre p {
  color: #333;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.sobre ul {
  list-style: none;
  padding: 0;
  margin: 30px auto 0;
  max-width: 600px;
  text-align: left;
}

.sobre ul li {
  background: url('https://cdn-icons-png.flaticon.com/512/1828/1828640.png') no-repeat left center;
  background-size: 18px;
  padding-left: 28px;
  margin-bottom: 12px;
  color: #333;
  line-height: 1.5;
}